# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDE files (optional)
.vscode/
.idea/


# Node module
node_modules
